.container {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(212, 189, 158);
    width: 23rem;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
}

form h1 {
    font-weight: 500;
    padding-bottom: 14px;
}

button {
    width: 100%;
    padding: 1em;
    background-color: rgb(20, 111, 230);
    border: none;
    outline: none;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.account {
    display: flex;
    gap: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;

}

.account a {
    color: blue;
    font-weight: 400;
}